---
import Layout from '../layouts/Layout.astro';



import Nav from '../components/Nav.astro';

import Hero from '../components/Hero.astro';
import Benefits from '../components/Benefits.astro';
import How from '../components/How.astro';
import Form from '../components/Form.astro';
import Testimonials from '../components/Testimonials.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Rodriguez Yard.">
	<Nav/>
	<main>
		
		<Hero/>
		<Benefits/>
		<How/>
		<Form/>
		<Testimonials/>
		
	</main>
	<Footer/>
</Layout>

