

<div class="modal">
    <h2>You are in desktop ?</h2>
    <p> call us to the number 1+900 9546 </p>
</div>
 

<style>
    .modal  {
        background-color: #202020;
        position: sticky;
        margin: 0 auto;
        height: 50vh;
        width: 50vh;
        z-index:10000 
    }
        ;
</style>